{{/*
  カバー画像を返すpartial
  使い方: {{ partial "cover-image.html" . }}
  優先順位:
    1. 記事の cover.image
    2. 記事の images[0]
    3. カテゴリーのデフォルト画像 (SVG)
*/}}

{{- $catDefaultImg := dict
  "開店・閉店"    "/images/categories/cat-open-close.svg"
  "開店閉店"      "/images/categories/cat-open-close.svg"
  "ニュース"      "/images/categories/cat-news.svg"
  "イベント"      "/images/categories/cat-event.svg"
  "グルメ・カフェ" "/images/categories/cat-gourmet.svg"
  "グルメカフェ"   "/images/categories/cat-gourmet.svg"
  "子育て・教育"   "/images/categories/cat-edu.svg"
  "子育て教育"    "/images/categories/cat-edu.svg"
  "スポーツ"      "/images/categories/cat-sports.svg"
  "お知らせ"      "/images/categories/cat-notice.svg"
}}

{{- $img := (.Param "cover.image") }}
{{- if not $img }}{{- with .Params.images }}{{- $img = index . 0 }}{{- end }}{{- end }}
{{- if not $img }}
  {{- $cat := index .Params.categories 0 | default "" }}
  {{- $img = index $catDefaultImg $cat | default "" }}
{{- end }}
{{- return $img }}
